* {
  box-sizing: border-box;
}

.feature-card {
  background-color: rgb(124, 191, 236);
  border-radius: 10px;
  margin: 2% 0;
  display: flex;
  color: white;
  position: relative;
}

.feature-left-half {
  flex: 1;
  object-fit: cover;
  border-radius: 10px;
}

.feature-left-half img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.feature-right-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-container {
  padding: 0 15%;
}

.right-container h2 {
  margin-top: 0;
  font-size: 1.8rem;
}

.right-container p {
  font-size: 1.2rem;
}

.center-container {
  display: flex;
  justify-content: center;
  text-decoration: none;
  /* padding-top: 4%; */
}

.center-container button {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1% 3%;
  border-radius: 7px;
  color: rgb(124, 191, 236);
}

.center-container button:hover {
  background-color: rgb(240, 240, 240);
}
