.footer {
  background-color: rgb(124, 191, 236);
  color: white;
  padding: 1% 10% 1%;
  font-size: 20px;
}

.footer-links {
  font-size: 1.25rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold underline;
  display: block;
}

.footer-links:hover {
  color: rgb(194, 194, 194);
}

h3 p {
  margin: 3px 0;
}
