/* styles.css */

.hero {
  align-self: center;
  display: flex;
  max-width: 1150px;
  position: relative;
  padding: 10px;
  margin: auto;
  border: 1px solid black;
  gap: 10px;
  box-sizing: border-box;
}

.left-half {
  flex: 1;
  border: 1px solid black;
  overflow: hidden;
}

.left-half img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.right-half {
  display: flex;
  flex-direction: column;
  height: inherit;
  flex: 1;
  gap: 10px;
}

.right-top-right,
.right-bottom-right {
  flex: 1;
  border: 1px solid black;
  overflow: hidden;
}

.right-top-right img,
.right-bottom-right img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
