/* styles.css */

.hero {
  align-self: center;
  display: flex;
  max-width: 1150px;
  position: relative;
  padding: 10px;
  margin: auto;
  border: 1px solid black;
  gap: 10px;
  box-sizing: border-box;
}

.left-half {
  flex: 1;
  border: 1px solid black;
  overflow: hidden; /* Prevent content overflow */
}

.left-half img {
  width: 100%; /* Stretch the image to fit the container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra spacing around the image */
  object-fit: cover;
}

.right-half {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.right-top-right,
.right-bottom-right {
  flex: 1;
  border: 1px solid black;
  overflow: hidden; /* Prevent content overflow */
}

.right-top-right img,
.right-bottom-right img {
  width: 100%; /* Stretch the image to fit the container width */
  height: auto; /* Maintain aspect ratio */
  display: block;
  object-fit: cover;
}
