* {
  box-sizing: border-box;
}

.product-page {
  width: 75%;
  margin: 3% auto;
  max-width: 1200px;
}

#centered {
  margin: 0 auto;
  text-align: center;
}

.flexbox {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  gap: 5.5px;
}

.product-left,
.product-right {
  height: 100%;
  width: 50%;
  border: 1px solid black;
}

.product-right {
  padding: 2rem 3rem;
}

.product-page-image {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  /* object-fit: cover; */
}

.product-page-price {
  font-size: 1.7rem;
}

.product-page-description {
  padding: 0 5%;
  font-size: 1.3rem;
}

.quantity-prices {
  justify-content: space-around;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}

.quantity-buttons {
  display: flex;
  align-items: center;
  gap: 2px;
}

.quantity-buttons button,
.quantity {
  height: 1.8rem;
  width: 1.8rem;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.quantity-buttons button:hover {
  background-color: rgb(240, 240, 240);
}

.quantity {
  cursor: default;
  user-select: none;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .flexbox {
    flex-direction: column;
  }

  .product-left,
  .product-right {
    width: 100%;
  }
}
