.product-page {
  width: 75%;
  margin: 3% auto;
  max-width: 1200px;
  box-sizing: border-box;
}

#centered {
  margin: 0 auto;
  text-align: center;
}

.flexbox {
  display: flex;
  width: 100%;
  position: relative;
}

.product-left {
  height: 100%;
  width: 50%;
  border: 1px solid black;
  display: flex;
}

.product-right {
  padding: 5% 0;
  width: 50%;
  height: 100%;
  border: 1px solid black;
}

.product-page-image {
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

.product-page-price {
  font-size: 2rem;
}

.product-page-description {
  padding: 0 5%;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .flexbox {
    flex-direction: column;
  }

  .product-left,
  .product-right {
    width: 100%;
  }
}
